/* navbar design */

.nav-items--{
  align-items: center;
  display: flex;
  /* margin-bottom: 600px; */

}
.navbar-header {
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.nav-link {
  margin: 0px 5px;
  font-weight: 800;
  font-size:15px;
}

@media only screen and (min-width:997px) {
  .nav-items--{
    justify-content: space-around;
    margin: 0 auto;
    display: flex;
}
.navbar-header {
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
}
/* navbar design */

/* Home condent */

.home {
  display: block;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 100px;
}
.home-div {
  margin-top: 120px;
  margin-left: 50px;
  
}

 span .home-name {
     font-weight: 900;
     font-size: 70px;
     font-family: 'Noto Sans', sans-serif;
  }

.home-h1 {
  font-weight: 900;
  font-size: 70px;
}

.home-p {
  font-weight: 500;
  font-size: 25px;
}

.home-ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
  font-size: 30px;
}

.icon {
    font-size:40px;
    color: white
 
}
.icon:hover{
   color: #33415c;
   transition: 1s;
  }

.home-img {
  border-radius:50%;
  width:40%;
  border: 60px solid white;
  margin-right: 50px;
  transition: 1s;
  margin-top: 100px;
  margin-bottom: 10px;
}

.home-img:hover {
  border-radius:50%;
  width:42%;
  border: 55px solid #33415c;
  transition: 1s;
  margin-right: 50px;
}

.home-span{
  font-size: 25px;
  font-weight: 700;
  transition: 1s;
}

.home-name:hover {
  color: #33415c;
  transition: 1s;
}

.home-span:hover{
  font-size: 35px;
  font-weight: 700;
  color: #33415c;
  transition: 1s;
}


 @media only screen and (max-width: 1144px) {
   .home {
     display: inline;
  }
  .home-ul{
    margin-right: 30px;
  }
   .home-div {
     margin-top: 80px;
     text-align: center;
     margin-right: 30px;
  }
  .home-name:hover {
  color: #33415c;
  transition: 1s;
}
  .home-name {
     font-weight: 900;
     font-size: 50px;
     font-family: 'Noto Sans', sans-serif;
  }

  .home-h1 {  
  font-weight: 900;
  font-size: 50px;
  
  }

  .home-p {
  font-weight: 500;
  font-size: 25px;
  }

  .home-img {
  border-radius:50%;
  width:45%;
  border: 20px solid white;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
}
.home-img:hover {
  border-radius:50%;
  width:50%;
  border: 20px solid #33415c;
  transition: 1s;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  align-items: center;
}
 }

 /* home condent */

 /* about condent  */

 .about-page {
   display: flex;
   padding: 120px 20px;
   margin: 0px auto;
   /* padding-bottom: 120px;  */
 }

 .about-image {
   width: 40%;
   margin-top: 0px;

 }
 .about-h2-1 {
   color: #33415c;
   margin: 0px auto;
   margin-top: 40px;
   margin-bottom: 50px;
   width: fit-content;
   padding-bottom: 10px;
   font-size: 40px;
   font-weight: 900;
   margin-left: 50px;
   font-family: 'Noto Sans', sans-serif;
   border-bottom: 4px solid #33415c;
 }

 .about-h2-2 {
   color: #33415c;
   margin: 0px auto;
   margin-top: 40px;
   margin-bottom: 50px;
   width: fit-content;
   padding-bottom: 10px;
   font-size: 40px;
   font-weight: 900;
   margin-left: 50px;
   font-family: 'Noto Sans', sans-serif;
   border-bottom: 4px solid #33415c;

 }
 .about-p {
   color: #33415c;
   font-size: 30px;
   font-family: 'Noto Sans', sans-serif;
   margin-left: 150px;
   margin-top: 0px;
   margin-right: 50px;
   font-weight: bold;
 }
.about-p2 {
   color: #33415c;  
   font-weight: bold;
   font-size: 17px;
   margin-left: 150px;
}
.about-p3 {
   color: #33415c;  
   font-weight: 400;
   font-size: 17px;
   margin-left: 150px;
   font-family: 'Noto Sans', sans-serif;
}
 .about-btn a {
   text-decoration: none;
   color: white;
   font-size:20px;
   font-family: 'Noto Sans', sans-serif;
   font-weight: bold;
 }
 .about-btn a:hover {
   text-decoration: none;
   color: white;
   font-size:20px;
   font-weight: bold;
   font-family: 'Noto Sans', sans-serif;
 }
 .about-btn{
   background-color: #36a4ff;
   color: white;
   box-shadow: none;
   border: 0px solid #36a4ff;
   padding: 10px 40px;
   border-radius:24px;
   margin-left: 150px;
   margin-top: 50px;
   transition: 0.2s;
 }
.about-btn:hover {
   background-color: #33415c;
   color: white;
   box-shadow: none;
   border: 0px solid #36a4ff;
   padding: 10px 40px;
   border-radius:24px;
   margin-left: 150px;
   margin-top: 50px;
   box-shadow: 0px 0px 15px black;
   transition: 0.2s;
 }

 @media only screen and (max-width: 1144px) {
  .about-page {
   display: flex;
   padding: 100px 20px;
   padding-bottom: 100px; 
 }
  .about-image {
   display: none;
 }
  .about-h2-1 {
   width: fit-content;
   color: #33415c;
   margin: 0px auto;
   margin-top: 40px;
   margin-bottom: 50px;
   /* margin-right: 920px; */
   padding-bottom: 10px;
   font-size: 40px;
   font-weight: 900;
   margin-left: 20px;
   font-family: 'Noto Sans', sans-serif;
   border-bottom: 4px solid #33415c;
 }

 .about-h2-2 {
   color: #33415c;
   margin: 0px auto;
   margin-top: 40px;
   margin-bottom: 50px;
   width: fit-content;
   padding-bottom: 10px;
   font-size: 40px;
   font-weight: 900;
   margin-left: 20px;
   font-family: 'Noto Sans', sans-serif;
   border-bottom: 4px solid #33415c;

 }

 .about-p {
   color: #33415c;
   font-size: 25px;
   font-family: 'Noto Sans', sans-serif;
   margin-left: 100px;
   margin-top: 0px;
   font-weight: bold;
 }

 .about-p2 {
   color: #33415c;  
   font-weight: bold;
   font-size: 17px;
   margin-left: 100px;
}
.about-p3 {
   color: #33415c;  
   font-weight: 400;
   font-size: 17px;
   margin-left: 100px;
   font-family: 'Noto Sans', sans-serif;
}

 .about-btn a {
   text-decoration: none;
   color: white;
   font-size:20px;
   font-family: 'Noto Sans', sans-serif;
   font-weight: bold;
 }
 .about-btn a:hover {
   text-decoration: none;
   color: white;
   font-size:20px;
   font-weight: bold;
   font-family: 'Noto Sans', sans-serif;
 }
 .about-btn{
   background-color: #36a4ff;
   color: white;
   box-shadow: none;
   border: 0px solid #36a4ff;
   padding: 10px 40px;
   border-radius:24px;
   margin-left: 50px;
   margin-top: 50px;
   transition: 0.2s;
 }
.about-btn:hover {
   background-color: #33415c;
   color: white;
   box-shadow: none;
   border: 0px solid #36a4ff;
   padding: 10px 40px;
   border-radius:24px;
   margin-left: 150px;
   margin-top: 50px;
   box-shadow: 0px 0px 15px black;
   transition: 0.2s;
 }
 }

  @media only screen and (max-width: 622px) {
    .about-p {
   color: #33415c;
   font-size: 25px;
   font-family: 'Noto Sans', sans-serif;
   margin-left: 50px;
   margin-top: 0px;
   font-weight: bold;
 }
 .about-h2 {
   color: #33415c;
   margin: 0px auto;
   margin-top: 0px;
   margin-bottom: 50px;
   font-size: 35px;
   font-weight: 900;
   margin-left: 20px;
   font-family: 'Noto Sans', sans-serif;
 }

  }

 /* About page */

 /* Project page */

 .project-card {
   background-color: #36a4ff;
   display:block;
   display: flex;
   justify-content: space-between;
   margin: 0px 50px;
   padding: 220px 0px;
   font-family: 'Noto Sans', sans-serif;
 }

 .project-card-1 {
   width: 650px;
   height: 390px;
   transition: 0.5s;
   margin: 10px 20px;
 }

 .project-h4-1 {
   color: #33415c;
   margin: 10px auto;
   margin-top: 10px;
   text-decoration: none;
   font-size: 23px;
   font-weight: bold;
   padding: 10px 20px;
 }
 .project-img-1 {
   width: 600px;
   border-radius: 20px;
   height: 300px;
   padding: 20px;
   border-radius: 90px;
 }

  .project-card-1:hover {
   box-shadow: 0px 0px 20px 10px rgb(252, 252, 252);
   transition: 0.5s;
   }
   



/* -------1------- */
   @media only screen and (max-width: 1144px) {
  .project-card {
   background-color: #36a4ff;
   display:block;
   display: flex;
   justify-content: space-between;
   font-family: 'Noto Sans', sans-serif;
 }

 .project-card-1 {
   width: 650px;
   height: 300px;
   transition: 0.5s;
   margin: 10px 10px;
 }

 .project-h4-1 {
   color: #33415c;
   margin: 10px auto;
   margin-top: 10px;
   text-decoration: none;
   font-size: 23px;
   font-weight: bold;
   padding: 0px 20px;
 }
 .project-img-1 {
   width: 300px;
   border-radius: 20px;
   height: 230px;
   padding: 20px;
   border-radius: 90px;
 }

  .project-card-1:hover {
   box-shadow: 0px 0px 20px 10px rgb(252, 252, 252);
   transition: 0.5s;
   }
   }



/* -------2------- */
   @media only screen and (max-width: 829px) {
  .project-card {
   background-color: #36a4ff;
   display:block;
   display: flex;
   margin: 0 auto;
   justify-content: space-between;
   font-family: 'Noto Sans', sans-serif;
 }

 .project-card-1 {
   width: 650px;
   height: 240px;
   transition: 0.5s;
   margin: 60px 10px;
 }

 .project-h4-1 {
   color: #33415c;
   margin: 10px auto;
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;
   padding: 0px 10px;
 }
 .project-img-1 {
   width: 260px;
   border-radius: 20px;
   height: 190px;
   padding: 10px;
   border-radius: 90px;
 }

  .project-card-1:hover {
   box-shadow: 0px 0px 20px 10px rgb(252, 252, 252);
   transition: 0.5s;
   }
   
   }

   /* ---------3--------- */
   @media only screen and (max-width: 706px) {
 .project-card {
   background-color: #36a4ff;
   display: inline;
   font-family: 'Noto Sans', sans-serif;
 }

 .project-card-1 {
   width: 290px;
   height: 300px;
   transition: 0.5s;
   margin: 40px auto;
 }

 .project-h4-1 {
   color: #33415c;
   margin: 10px auto;
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;
   padding: 0px 10px;
 }
 .project-img-1 {
   width: 260px;
   border-radius: 20px;
   height: 240px;
   padding: 10px;
   border-radius: 90px;
 }

  .project-card-1:hover {
   box-shadow: 0px 0px 20px 10px rgb(252, 252, 252);
   transition: 0.5s;
   }
   
   }

   /* -----project page ----- */

   /* contact page */

   #Contact {
     width: 100%;
     padding: 120px 20px;
     display: block;
     display: flex;
     justify-content: space-around;
     /* padding-top: 90px; */
     background-color: white;
   }
   .form-header {
     font-family: 'Noto Sans', sans-serif;
     background-color: #33415c;  
     width: 700px;
     height: 550px; 
     margin-top: 0px;
     margin-bottom: 70px;
     padding: 40px 70px;
     border: 1px solid  #36a4ff;
     border-radius: 40px;
     box-shadow: 0px 0px 10px 4px #f1f1f1;
   }
   .contact-icon {
     font-size: 46px;
     margin-bottom: 20px;
     margin-top: -30px;
   }

   .form-name {
      color: white;
      font-size: 21px;
      font-weight: bold;
      margin: 20px auto;
   /* font-family: 'Noto Sans', sans-serif; */
   }

   .form-button {
     background-color: white;
     color: #33415c;
     border: 1px solid white;
     padding: 10px 30px;
     font-family: 'Noto Sans  ', sans-serif;
     font-weight: 600;
     font-size: 18px;
     border-radius:30px;
     margin-top: 25px;
   }

    .form-button:hover {
     background-color: white;
     color: #33415c;
     border: 1px solid white;
     padding: 10px 30px;
     font-family: 'Noto Sans  ', sans-serif;
     font-weight: 600;
     font-size: 18px;
     border-radius:30px;
     margin-top: 25px;
     box-shadow: 0px 0px 6px 4px white;
   }

   .form-button:active {
     background-color: white;
     color: #33415c;
     border: 1px solid white;
     padding: 10px 30px;
     font-family: 'Noto Sans  ', sans-serif;
     font-weight: 600;
     font-size: 18px;
     border-radius:30px;
     margin-top: 25px;
     box-shadow: 0px 0px 6px 4px white;
   }

   .contact-p {
     font-size: 18px;
     margin-left: 50px;
     margin-top: 20px;
     font-family: 'Noto Sans', sans-serif;
     font-weight: 300;
     color: #33415c;

   }
   
   .contact-h6 {
     font-size: 30px;
     font-family: 'Noto Sans', sans-serif;
     font-weight: 600;
     color: #33415c;
   }
   .contact-section {
     margin-top: 60px;
     padding : 20px 20px;
    
    }
   
    @media only screen and (max-width: 1144px) {
      #Contact {
     width: 100%;
     padding: 100px 10px;
     display: inline;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     background-color: white;
   }
   .contact-icon {
     font-size: 36px;
     margin-bottom: 10px;
     margin-top: -30px;
   }

   .form-header {
     font-family: 'Noto Sans', sans-serif;
     background-color: #33415c;  
     width: 700px;
     height: 500px; 
     margin: 0 auto;
     padding: 40px 60px;
     border: 1px solid  #36a4ff;
     border-radius: 40px;
     box-shadow: 0px 0px 10px 4px #f1f1f1;
   }

   .form-name {
      color: white;
      font-size: 21px;
      font-weight: bold;
      margin: 20px auto;
   /* font-family: 'Noto Sans', sans-serif; */
   }

   .form-button {
     background-color: white;
     color: #33415c;
     border: 1px solid white;
     padding: 10px 30px;
     font-family: 'Noto Sans  ', sans-serif;
     font-weight: 600;
     font-size: 18px;
     border-radius:30px;
     margin-top: 25px;
   }
  .contact-divider {
    color: #33415c;
    width: 3px;
    height: 200px;
  }
    .form-button:hover {
     background-color: white;
     color: #33415c;
     border: 1px solid white;
     padding: 10px 30px;
     font-family: 'Noto Sans  ', sans-serif;
     font-weight: 600;
     font-size: 18px;
     border-radius:30px;
     margin-top: 25px;
     box-shadow: 0px 0px 6px 4px white;
   }

   .form-button:active {
     background-color: white;
     color: #33415c;
     border: 1px solid white;
     padding: 10px 30px;
     font-family: 'Noto Sans  ', sans-serif;
     font-weight: 600;
     font-size: 18px;
     border-radius:30px;
     margin-top: 25px;
     box-shadow: 0px 0px 6px 4px white;
   }

   .contact-p {
     font-size: 18px;
     margin-left: 20px;
     margin-top: 20px;
     font-family: 'Noto Sans', sans-serif;
     font-weight: 300;
     color: #33415c;

   }
   
   .contact-h6 {
     font-size: 30px;
     font-family: 'Noto Sans', sans-serif;
     font-weight: 600;
     color: #33415c;
   }
   .contact-section {
     margin-top: 60px;
     padding : 20px 20px;
    
    }
    }

     @media only screen and (max-width: 706px) {
      #Contact {
     width: 100%;
     height: 900px;
     padding: 50px 10px;
     display : flex;
     flex-direction: column;
     margin: 100 auto;
     align-items: center;
     background-color: white;
   }
   .form-header {
     font-family: 'Noto Sans', sans-serif;
     background-color: #33415c;  
     width: 350px;
     height: 480px; 
     margin: 0 auto;
     padding: 20px 30px;
     border: 1px solid  #36a4ff;
     border-radius: 40px;
     box-shadow: 0px 0px 10px 4px #f1f1f1;
   }
   .contact-icon {
     font-size: 36px;
     margin-bottom: 20px;
     margin-top: -30px;
   }

   .form-name {
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin: 20px auto;
   /* font-family: 'Noto Sans', sans-serif; */
   }

   .form-button {
     background-color: white;
     color: #33415c;
     border: 1px solid white;
     padding: 10px 30px;
     font-family: 'Noto Sans  ', sans-serif;
     font-weight: 600;
     font-size: 18px;
     border-radius:30px;
     margin-top: 25px;
   }

    .form-button:hover {
     background-color: white;
     color: #33415c;
     border: 1px solid white;
     padding: 10px 30px;
     font-family: 'Noto Sans  ', sans-serif;
     font-weight: 600;
     font-size: 18px;
     border-radius:30px;
     margin-top: 25px;
     box-shadow: 0px 0px 6px 4px white;
   }

   .form-button:active {
     background-color: white;
     color: #33415c;
     border: 1px solid white;
     padding: 10px 30px;
     font-family: 'Noto Sans  ', sans-serif;
     font-weight: 600;
     font-size: 18px;
     border-radius:30px;
     margin-top: 25px;
     box-shadow: 0px 0px 6px 4px white;
   }

   .contact-p {
     font-size: 18px;
     margin-left: 20px;
     margin-top: 20px;
     font-family: 'Noto Sans', sans-serif;
     font-weight: 300;
     color: #33415c;

   }
   
   .contact-h6 {
     font-size: 30px;
     font-family: 'Noto Sans', sans-serif;
     font-weight: 600;
     color: #33415c;
   }
   .contact-section {
     margin-top: 0px;
     padding : 0px 10px;
    
    }
    }